In [11]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-19.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Downloading pyarrow-19.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (42.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.1/42.1 MB 51.4 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: pyarrow
Successfully installed pyarrow-19.0.0

In [17]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [24]:
pq.read_metadata("green_tripdata_2019-01.parquet")

<pyarrow._parquet.FileMetaData object at 0x73c82ee0d4e0>
  created_by: parquet-cpp-arrow version 7.0.0
  num_columns: 20
  num_rows: 672105
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10819

In [25]:
#Read file, read the table from teh file and check schema

file = pq.ParquetFile("green_tripdata_2019-01.parquet")
table = file.read()
table.schema

VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
ehail_fee: double
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2611

In [26]:
# Convert pandas and check data

df = table.to_pandas()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672105 entries, 0 to 672104
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               672105 non-null  int64
 1   lpep_pickup_datetime   672105 non-null  datetime64[us]
 2   lpep_dropoff_datetime  672105 non-null  datetime64[us]
 3   store_and_fwd_flag     630526 non-null  object
 4   RatecodeID             630526 non-null  float64
 5   PULocationID           672105 non-null  int64
 6   DOLocationID           672105 non-null  int64
 7   passenger_count        630526 non-null  float64
 8   trip_distance          672105 non-null  float64
 9   fare_amount            672105 non-null  float64
 10  extra                  672105 non-null  float64
 11  mta_tax                672105 non-null  float64
 12  tip_amount             672105 non-null  float64
 13  tolls_amount           672105 non-null  float64
 14  ehail_fee              339 non-null     float64
 15  improvement_surcharge  672105 non-null  float64
 16  total_amount           672105 non-null  float64
 17  payment_type           630526 non-null  float64
 18  trip_type              630187 non-null  float64
 19  congestion_surcharge   84527 non-null   float64
dtypes: datetime64[us](2), float64(14), int64(3), object(1)
memory usage: 102.6+ MB

In [6]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")

In [13]:
engine.connect()

In [27]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019', con=engine))

CREATE TABLE green_tripdata_2019 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [29]:
# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.00,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.00,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.50,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.50,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.00,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:05:38,2019-01-06 09:22:19,N,1.0,200,140,1.0,11.35,31.00,0.0,0.5,6.36,0.0,NaN,0.3,38.16,1.0,1.0,NaN
99996,2,2019-01-06 09:32:21,2019-01-06 10:04:58,N,5.0,108,25,1.0,8.19,32.95,0.0,0.5,0.00,0.0,NaN,0.0,33.45,1.0,2.0,NaN
99997,2,2019-01-06 10:01:40,2019-01-06 10:08:34,N,1.0,74,41,1.0,0.98,6.50,0.0,0.5,1.82,0.0,NaN,0.3,9.12,1.0,1.0,NaN
99998,2,2019-01-06 09:38:04,2019-01-06 09:38:25,N,1.0,129,129,1.0,0.00,-2.50,0.0,-0.5,0.00,0.0,NaN,-0.3,-3.30,3.0,1.0,NaN
99999,2,2019-01-06 09:38:04,2019-01-06 09:38:25,N,1.0,129,129,1.0,0.00,2.50,0.0,0.5,0.00,0.0,NaN,0.3,3.30,2.0,1.0,NaN

In [30]:
df.to_sql(name="green_tripdata_2019", con=engine, if_exists='replace')

1000

In [31]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='green_tripdata_2019',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      9.564 seconds.

inserting batch 2...
inserted! time taken      9.409 seconds.

inserting batch 3...
inserted! time taken      9.371 seconds.

inserting batch 4...
inserted! time taken      9.975 seconds.

inserting batch 5...
inserted! time taken      9.383 seconds.

inserting batch 6...
inserted! time taken      9.777 seconds.

inserting batch 7...
inserted! time taken      6.421 seconds.

Completed! Total time taken was     64.055 seconds for 7 batches.